<html>

<head></head>
<center>
    <p><strong>Registration Page</strong></p>
    <form>
        Firstname: <input type="text" ng-model="firstName" placeholder="Enter the firstname" required="" /></br>
        </br>
        Lastname:<input type="text" ng-model="lastName" placeholder="Enter the lastname" required="" /></br>
        </br> Username:<input type="text" ng-model="username" placeholder="Enter your username" required="" /></br>
        </br> Password: <input type="password" ng-model="password" placeholder="Enter your password" required="" /></br>
        </br> <button type="submit" ng-click=onregister()>Register</button>
      
</center>

</html>